# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
#
# SPDX-License-Identifier: MIT

Adafruit-Blinka
adafruit-blinka-displayio
adafruit-circuitpython-portalbase
adafruit-circuitpython-busdevice
adafruit-circuitpython-touchscreen
adafruit-circuitpython-esp32spi
adafruit-circuitpython-bitmap-font
adafruit-circuitpython-neopixel
adafruit-circuitpython-requests
